
%transition {
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
  }
  
  %d-f {
    display: flex;

  }
  @mixin fontAll($size, $weight, $family) {
    // font-size: $size;
    // font-weight: $weight;
    // font-family: $family;
    font: {
      size: $size;
      weight: $weight;
      family: $family;
    }
  }

  a {
      text-decoration: none;
      color: $black-col;
      &:hover {
          text-decoration: none;
          color: $black-col;
      }
  }
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

  

  textarea,
  textarea:focus,
  textarea:hover,
  input:focus,
  input:hover,
  select:hover,
  select:focus {
      outline: none;
  }

  

.btn-purp {
    padding: 15px 40px;
    background: linear-gradient(265.97deg, #b777be -9.18%, #88488f 103.05%);
    @include fontAll(12px, 700, 'Montserrat');
    border: none;
    color: #fff;
    cursor: pointer;
    border: 2px solid $main-col;
    @extend %transition;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    &:hover {
      background: linear-gradient(265.97deg, #b777be -30%, #88488f 80%);
    }
    
    svg {
      margin-left: 15px;
    }
    &:focus {
      outline: none;
    }
  }

  
  @mixin  fixImg($weight, $height, $cover: true) {
    width: $weight;
    height: $height;
    img {
      width: 100%;
      height: 100%;
      @if ($cover) {
        object-fit: cover;
      } @else {
        object-fit: contain;
      }
    }
  }